# virtual enviroment
venv/
env/
.env

# temporary files
__pycache__/
*.py[cod]
*$py.class

# datasets
*.xlsx
*.parquet

# models
*.pkl
*.joblib
*.h5

# notebooks checkpoints
.ipynb_checkpoints/

# so
.DS_Store
Thumbs.db

# MLflow local runs
mlruns/
*.db